.menu {
    height: 100%;
    width: 149px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.orgabits {
    writing-mode: vertical-lr;
    transform:scale(-1);

}

.orga {
    color: #F1D145;
}