@import url("https://p.typekit.net/p.css?s=1&k=qgy3bur&ht=tk&f=26053.26054.26056.26062&a=74061517&app=typekit&e=css");

@font-face {
    font-family:"acumin-pro";
    src:url("https://use.typekit.net/af/46da36/00000000000000003b9acaf6/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/46da36/00000000000000003b9acaf6/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/46da36/00000000000000003b9acaf6/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:400;
}

html {
    font-family: 'acumin-pro';
    height: 100vh;
    width: 100vw;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;

    #root {
        height: 100%;
        width: 100%;

        .App {
            display: flex;
            height: 100%;
            width: 100%;
        }
    }
}