.dash-vertical {
    display: block;
    background-color:#F1D145;
    width: 2px;
    height: 40px;
}

.dash-horizontal {
    display: block;
    background-color:#F1D145;
    width: 45px;
    height: 2px;
}