.page-menu {
    display: flex;
    justify-content: space-between;
}

.page-menu-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Acumin Pro Black', sans-serif;
    font-size: 12px;
    color: #375238;
    letter-spacing: 0.9px;
}

#our-products {
    font-family: 'Acumin Pro Black', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #3B573B;
    letter-spacing: 1.8px;
}